<div class="inner-container">
  <div class="logo">
    <img ng-src="{{logoPath}}">
  </div>
  <div class="record">
  <h1> Wins: {{teamData.wins}} Losses: {{teamData.losses}} </h1>
  </div>
  <div class="btn" ng-click="toggleNewGameForm()"> Add a New Game </div>
  <form ng-show="showNewGameForm" class="form">
   
    <span class="large">Opponent:</span> 
    <br />
    <select ng-model="newGame.opponent" ng-options="team for team in teams" class="form-control" required name="team"></select> 
    <br />
    <br />
    
    <span class="large">Score:</span> 
    <br /> 
    {{homeTeam}}: <input class="inputs" type="text" ng-model="homeTeamScore" placeholder="Home Score"> 
    {{newGame.opponent}}: <input type="text" class="inputs" ng-model="opponentScore" placeholder="Opponent Score"> <br /><br />
    
    <button ng-click="submitGame()"> Submit Game </button>
  </form>
  
  <div class="team-data">
    <div class="game" ng-repeat="game in teamData" ng-class="{'even' : $index % 2 === 0}">
      Date: {{game.createdAt | date: "short"}}<br />
      <!-- 
        The below question marks should render like this
        Utah Jazz (Or name of Team) - Score of the particular Game
        Opponent Name - Opponent Score for that Game
      -->

      {{game.homeTeam}} - {{game.homeTeamScore}}<br />
      {{game.opponent}} - {{game.opponentScore}}</br />
    </div>
  </div>
</div>

<!-- Head over to your teamTmpl.html file and check it out.
Notice that there are a lot of ????????. All of those need to be filled in with properties that are on the teamCtrl. This could be really hard or really easy depending on how you tackle the problem. If it were me, I would console.log the $scope object to see all the properties that you're able to use.
Fill in all the ???????? with the correct models. Once you do that, make sure you have http-server running and head over to localhost:8080/#/teams/utahjazz and see if everything is working as expected. If it is, great. If not, open up your console and start debugging. -->
